
h2 {
    color: white;
    padding: 10px;
    margin: 10px;
}

.ux-filtered-column {
    color: #000 !important;
}

.ux-gridfilter-text-icon {
    background-image: url(/bundles/heriticket/images/icons/magnifier.png) !important;
}

.ux-rangemenu-gt {
    background-image: url(/bundles/heriticket/ext/examples/ux/grid/images/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(/bundles/heriticket/ext/examples/ux/grid/images/less_than.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(/bundles/heriticket/ext/examples/ux/grid/images/equals.png) !important;
}

.icon-search, .ux-gridfilter-text-icon {
    background-image: url(/bundles/heriticket/images/icons/magnifier.png) !important;
}

.icon-tab-go {
    background-image: url(/bundles/heriticket/images/icons/tab_go.png) !important;
}

.icon-list {
    background-image: url(/bundles/heriticket/images/icons/application_view_list.png) !important;
}

.icon-ticket-show {
    background-image: url(/bundles/heriticket/images/icons/page_white.png) !important;
}

.icon-comments {
    background-image: url(/bundles/heriticket/images/icons/comments.png) !important;
}